@media (min-width: 600px) { /* format tablette */
    /* ----MAIN---- */
    main {
        padding: 40px 60px;
    }

    /* ----FOOTER---- */
    footer {
        padding: 40px 60px;
        background-color: green;
    }

    .menu_footer > ul {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .menu_footer li.menu_footer-item_parent {
        width: calc((100% - 40px) / 3);
    }
}

@media (min-width: 900px) { /* format ordi */
    /* ----GENERAL---- */
    a:hover {
        border-bottom: 2px solid purple;
    }

    /* ----HEADER---- */
    .logo_nav {
        padding: 20px 40px;
    }

    .menu_header {
        display: block;
    }

    .menu_burger_icon {
        display: none;
    }

    /* ----MAIN---- */
    main {
        padding: 40px 80px;
    }

    /* ----FOOTER---- */
    footer {
        padding: 40px 80px;
        background-color: red;
    }

    .content_footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .infos {
        text-align: start;
    }

    .menu_footer > ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        text-align: start;
    }

    .menu_footer-sous_menu {
        display: block;
    }
}